<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBasicMath" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8081/MathServiceLibrary"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBasicMath"
                contract="ServiceReference.IBasicMath" name="BasicHttpBinding_IBasicMath" />
        </client>
    </system.serviceModel>
</configuration>